








body {
	margin: 100px;
}




h1 {
	text-align: center;
}


h2 {
	text-align: left;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 16px 0;
}


.Introduction{

}


.Data{

}


.Cor{

}


.CorBad{

}


.menu-bar {
	background-color: #333;
	color: #fff;
	padding: lem;
	text-align: center;
}

.menu-bar ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-bar li{
	display: inline-block;
	position: relative;
	margin-right: 20px;
}

.menu-bar a{
	color: #fff;
	text-decoration: none;
}

.menu-bar a:hover {
	color: #ccc;
}

.dropdown-menu{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #333;
	padding: 0.5em;
}


.dropdown-menu li{
	display: block;
	margin-right: 0;
}


.dropdown:hover .dropdown-menu {
	display: block;
}
